#top{
  text-align: center;
  color:black
}

.calculator {
  width: 400px;
  height: 400px;
  margin: auto;
  border: 1px solid #000;
  padding: 10px;
  display:grid;
  grid-template-rows: repeat(5, 2fr);
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 5px;

}

.calculator button {
  width: 100%;
  padding: 10px;
  font-size: 2rem;
  margin: 5px 0;
}

.calculator input{
  width: 95%;
  padding: 10px;
  font-size: 2rem;
  margin: 5px 0;
  grid-column: span 4;
}


